* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

header {
  padding: 30px 45px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img[src*="mr.bean"] {
  width: 50px;
  height: 68px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.mybio{
  align-items: center;
  display: flex;
}
.myname {
  background-color: rgb(26, 171, 196);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px black;
  height: 68px;
  padding: 10px;
}

header nav {
  margin: 10px 0;
}

header nav li {
  text-decoration: none;
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  color: rgb(26, 171, 196);
  border-bottom: 2px solid rgb(26, 171, 196);
}

.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  background-size: cover;
}
.subtitle {
  background-color: rgb(26, 171, 196);
  display: inline-block;
  position: relative;
  float: right;
  right: 100px;
  top: 150px;
}

.page-wrapper{
 display:flex;
 flex-direction: column;
}

.page-section{
display: flex;
justify-content: space-around;
margin: 20px;
}
.left-section{
  width: 150px;
  height: auto;
  margin: 10px;
  padding-right: 10px ;
  border-right: 5px solid rgb(12, 201, 166);
  position: relative;
  flex-grow: -1;
  
}


.right-section{
  height: auto;
  text-align: justify;
  padding-left: 10px;
  flex-grow: 1;
  width: auto;
}

.right-section p {
  text-align: justify;
  
}
.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#grid {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  "top top"
  "middle-left middle-right"
  "bottom-left bottom-right";
  row-gap: 5px;
  column-gap: 5px;
}

img[src*="project"] {
grid-area: top;
border: 5px solid rgb(5, 186, 174);

}

img[src*="portfolio-1"] {
  grid-area: middle-left;
  border: 5px solid rgb(5, 186, 174);

}

img[src*="portfolio-2"] {
  grid-area: middle-right;
  border: 5px solid rgb(5, 186, 174);
}

img[src*="portfolio-3"] {
  grid-area: bottom-left;
  border: 5px solid rgb(5, 186, 174);

}

img[src*="portfolio-4"] {
grid-area: bottom-right;
border: 5px solid rgb(5, 186, 174);
}


#contact ul li{
  text-decoration: none;
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  color: rgb(26, 171, 196);
  border-bottom: 2px solid rgb(26, 171, 196);
  position: relative;
  left: 450px;
  top: 10px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
