* {
  box-sizing: border-box; /* Box sizing for all elements */
}

h1,
h2,
h3, /* Reset margin for heading elements and paragraphs */
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Reset margin and padding for the body, set font family, and line height */

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

/* Styling for the header section */
header {
  padding: 30px 45px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Styling for bio section in the header */
.mybio {
  align-items: center;
  display: flex;
}

/* Styling for the image inside .mybio using CSS selectors*/
img[src*="mr.bean"] {
  width: 50px;
  height: 68px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* Styling for the name inside .mybio */

.myname {
  background-color: rgb(26, 171, 196);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px black;
  height: 68px;
  padding: 10px;
}

header nav {
  margin: 10px 0;
}


/* Styling for navigation links */

header nav li {
  text-decoration: none;
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  color: rgb(26, 171, 196);
  border-bottom: 2px solid rgb(26, 171, 196);
}

/* Styling for hero banner section */
.hero-banner {
  background-image: url(../images/02-hero-bg.jpg);
  height: 200px;
  background-size: cover;
}

/* Styling for subtitle section */
.subtitle {
  background-color: rgb(26, 171, 196);
  display: inline-block;
  position: absolute;
  overflow: auto;
  opacity: 0.8;
}

/* Styling for page layout */

.page-wrapper {
  display: flex;
  flex-direction: column;
}

/* Styling for sections within the page */

.page-section {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Styling for left section */
.left-section {
  width: 150px;
  height: auto;
  margin: 10px;
  padding-right: 10px;
  border-right: 5px solid rgb(12, 201, 166);
  position: relative;
  flex-grow: -1;
  text-align: right;
}

.right-section {
  height: auto;
  text-align: justify;
  padding-left: 10px;
  flex-grow: 1;
  width: auto;
  flex-wrap: wrap;
}

/* Styling for paragraph within right section */

.right-section p {
  text-align: justify;
  position: relative;
  top: 10px;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling for the grid layout within right section*/
#grid {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: auto auto;
  grid-template-areas:
    "top top"
    "middle-left middle-right"
    "bottom-left bottom-right";
  row-gap: 5px;
  column-gap: 5px;
}

/* Styling for grid area items using ID and CSS selectors*/
#top {
  grid-area: top;
  border: 5px solid rgb(5, 186, 174);
}

img[src*="portfolio-1"] {
  grid-area: middle-left;
  border: 5px solid rgb(5, 186, 174);
}

img[src*="portfolio-2"] {
  grid-area: middle-right;
  border: 5px solid rgb(5, 186, 174);
}

img[src*="portfolio-3"] {
  grid-area: bottom-left;
  border: 5px solid rgb(5, 186, 174);
}

img[src*="portfolio-4"] {
  grid-area: bottom-right;
  border: 5px solid rgb(5, 186, 174);
}

/* Styling for contact section */

#contact ul {
  text-align: center;
}
#contact ul li {
  text-decoration: none;
  display: inline-block;
  padding: 0 5px;
  margin: 0 5px;
  color: rgb(26, 171, 196);
  border-bottom: 2px solid rgb(26, 171, 196);
}

/* Styling for images with hover effect */
img {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
img:hover {
  transition: 0.5s ease;
  opacity: 0.3;
}

/* Styling for overlay content on images in grid area */
.overlay {
  position: relative;
}

.overlay-text {
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 0.5px;
  background-color: rgb(5, 186, 174);
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

#contact {
  overflow: auto;
  opacity: 0.8;
}


/* Media query for screens with max width of 700px */
@media screen and (max-width: 700px) {

  /* Adjust font size for paragraphs and headings */
  p,
  h2 {
    font-size: medium;
    font-family: "Courier New", Courier, monospace;
  }
  
 /* Change grid layout for smaller screens */
  #grid {
    display: grid;
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: auto;
    grid-template-areas:
      "top"
      "middle-left"
      "middle-right"
      "bottom-left"
      "bottom-right";
    row-gap: 5px;
    column-gap: 5px;
  }
}